.service-section {
    position: relative;
    margin-top: 0px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 70px;
    font-family: "Poppins";
    margin: 40px 100px 40px 100px;
    
    
}



.service-section  h1 {
    font-size: 35px;
    line-height: 40px;
}

.service-section  h1 span {
    color: #B671FF;
}

.service-section .benefits {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.service-section .degrees,
.service-section .courses,
.service-section .training,
.service-section .video {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.service-section .degrees-icon,
.service-section .courses-icon,
.service-section .training-icon,
.service-section .video-icon {
    margin-right: 15px;
} 
/* .service-section h6 ,
.service-section p {
    margin-right: 13px;
} */

.service-section h6 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}

.service-section p {
    font-size: 17px;
    margin: 0;
    /* margin-bottom: -10px; */

}

.service-section .left img {
    margin-top: 50px;
    width: 520px;
    height: 480px;
    padding: 18px 20px 18px 20px;
    margin-top: 100px;
}