.subscribe-section {
    position: relative;
        font-family: "Poppins";
        background: linear-gradient(0deg, rgba(182,113,255,1) 0%, rgba(255,141,166,1) 100%);
        display: flex;
        flex-direction: column;
        align-items: center; 
        height: 450px;
}

.subscribe-section .white {
    position: absolute;
background-color: white;
height: inherit;
width: 100%;
border-top-left-radius: 200px;
border-bottom-right-radius: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
        justify-content: center;

}
.subscribe-section  .card {
    background: linear-gradient(180deg, rgba(182,113,255,1) 0%, rgba(255,141,166,1) 100%); 
    width: 715px;
    height: 240px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.subscribe-section .card-text {
    width: 570px;
    text-align: center;
}

.subscribe-section h2 {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 40px;
    margin: 0;

}

.subscribe-section button {
    font-size: 19px;
    font-family: "Poppins";
    font-weight: 500;   
    border-radius: 5px;
    border: none;
    color: #B671FF;
    padding: 8.5px 28px 8.5px 28px;
    background: white
}

.subscribe-section input {
    border: none;
    border-radius: 5px;
    width: 430px;
    height: 30px;
    padding: 10px 28px 7px 28px;
    margin-right: 20px;

}

.subscribe-section input::placeholder {
    font-size: 20px;

}

.subscribe-section h2 {
    font-size: 35px;
    line-height: 40px;
    color: white;
    font-weight: 500;
}

.subscribe-section p {
    font-size: 20px;
    color: white;
}
